In [1]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.9984,Northern Metropolitan,4019,25.20,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.9934,Northern Metropolitan,4019,15.80,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.9944,Northern Metropolitan,4019,18.75,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.9969,Northern Metropolitan,4019,15.75,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.9941,Northern Metropolitan,4019,17.75,0.083969,4,2,2,St,0

In [2]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: float64(8), int64(10), object(8)
memory usage: 2.7+ MB

In [ ]:
# 1.1
# Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) 
# продажи объектов недвижимости. Найдите второй по популярности квартал продажи. 
# В качестве ответа запишите число объектов, проданных в этом квартале.

In [3]:
melb_df.Date = pd.to_datetime(melb_df.Date)

In [9]:
freq = melb_df.Date.dt.quarter.value_counts()
freq[freq.index[1]]

4359

In [10]:
# 1.2
# Преобразуйте все столбцы, в которых меньше 150 уникальных значений, 
# в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car.
# В качестве ответа запишите результирующее количество столбцов, 
# которые имеют тип данных category.
c = 0
for col in melb_df.columns:
    if col not in {'Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'} and melb_df[col].nunique() < 150:
        c += 1
        melb_df[col] = melb_df[col].astype('category')
c

10

In [ ]:
# сортировка
melb_df.sort_values(by=['Distance', 'Price']).head(10)[['Distance', 'Price']]

In [23]:
# сортировка
sort1 = melb_df.sort_values(by='Price')
sort2 = sort1.sort_values(by='Distance', kind='stable')
sort2.head(10)[['Distance', 'Price']]

       Distance      Price
11428       0.0   387000.0
12074       0.0   540000.0
12073       0.0   565000.0
10393       0.0   720000.0
9620        0.0   740000.0
10739       0.0  1075000.0
9331        0.7   422000.0
9729        0.7   422500.0
9332        0.7   590000.0
10511       0.7   600000.0

In [24]:
melb_df.loc[10739][['Distance', 'Price']]

Distance          0.0
Price       1075000.0
Name: 10739, dtype: object

In [26]:
# 2.2
# Произведите сортировку столбца AreaRatio по убыванию. 
# При этом индексы полученной таблицы замените на новые. 
# Какое значение площади здания находится в строке 1558? 
# Ответ округлите до целого числа.
sorted = melb_df.sort_values(by='AreaRatio', ignore_index=True, ascending=False)
sorted['BuildingArea'][1558]

126.0

In [35]:
# 2.3
# Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. 
# Отсортируйте полученную таблицу сначала по возрастанию числа комнат,
#  а затем по убыванию средней площади комнат (MeanRoomsSquare). 
# Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18? 
# Ответ запишите в виде целого числа.
t2 = melb_df[(melb_df['Type'] == 'townhouse') & (melb_df['Rooms'] > 2)]
t2.sort_values(inplace=True, by=['Rooms', 'MeanRoomsSquare'],
                ignore_index=True, ascending=[True, False])
t2['Price'][18]

C:\Users\Admin\AppData\Local\Temp\ipykernel_15604\3897793257.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2.sort_values(inplace=True, by=['Rooms', 'MeanRoomsSquare'],

1300000.0

In [50]:
# 3.1
# Сгруппируйте данные по признаку количества комнат и найдите среднюю цену 
# объектов недвижимости в каждой группе. В качестве ответа запишите количество 
# комнат, для которых средняя цена наибольшая.
melb_df.groupby('Rooms')['Price'] \
    .mean() \
    .idxmax()

7

In [51]:
# 3.2
# Какой регион имеет наименьшую протяжённость по географической широте 
# (Lattitude)?
# Для ответа на этот вопрос рассчитайте стандартное отклонение широты 
# для каждого региона.
# В качестве ответа запишите название этого региона.
melb_df.groupby('Regionname')['Lattitude'] \
    .std() \
    .idxmin()

'Western Victoria'

In [53]:
# 3.3
# Какая риелторская компания (SellerG) имеет наименьшую общую выручку 
# за период с 1 мая по 1 сентября (включительно) 2017 года?
# Для ответа на этот вопрос рассчитайте сумму продаж (Price) каждой 
# компании в заданный период.
# Не забудьте перевести даты в формат datetime.
melb_df[(melb_df.Date <= pd.to_datetime('2017-09-01')) & 
        (melb_df.Date >= pd.to_datetime('2017-05-01'))] \
        .groupby('SellerG')['Price'] \
        .sum() \
        .idxmin()

'LITTLE'

In [61]:
# 4.2
# Составьте сводную таблицу, которая показывает зависимость медианной 
# площади (BuildingArea) здания от типа объекта недвижимости (Type) и 
# количества жилых комнат в доме (Rooms). Для какой комбинации признаков 
# площадь здания наибольшая?
# В качестве ответа запишите эту комбинацию (тип здания, число комнат) 
# через запятую, без пробелов.
pv = melb_df.pivot_table(values='BuildingArea', index='Type', columns='Rooms', aggfunc='median') 
pv

Rooms         1      2      3      4      5      6      7      8      10
Type
house      126.0  126.0  126.0  141.0  177.0  126.0  216.5  126.0  126.0
townhouse   88.0  114.0  126.0  159.5  152.0    NaN    NaN    NaN    NaN
unit        69.5  110.0  126.0  126.0    NaN  171.0    NaN  126.0    NaN

In [69]:
pv.max(axis=1).idxmax(), pv.max().idxmax()

('house', 7)

In [76]:
# 4.3

# Составьте сводную таблицу, которая показывает зависимость медианной цены 
# объекта недвижимости (Price) от риелторского агентства (SellerG) и 
# типа здания (Type).
# Во вновь созданной таблице найдите агентство, у которого медианная цена 
# для зданий типа unit максимальна. В качестве ответа запишите название 
# этого агентства.
pv = melb_df.pivot_table(values='Price', index='SellerG', columns='Type', aggfunc='median') 
pv.idxmax()['unit']

'Nick'