In [4]:
import pandas as pd

In [3]:
left = pd.DataFrame({'lkey': ['A','B','C','A'], 'value': [0, 1, 2, 3]})
right = pd.DataFrame({'rkey': ['A','B','D','B'], 'value': [4, 5, 6, 7]})
left.merge(right, how='outer', left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0    A      0.0    A      4.0
1    A      3.0    A      4.0
2    B      1.0    B      5.0
3    B      1.0    B      7.0
4    C      2.0  NaN      NaN
5  NaN      NaN    D      6.0